<%- include('partials/header') -%>

    <div class="container mt-5 mb-5">
        <main class="chat-bot">
            <section class="chat-section d-flex gap-4">
                <div class="chat chat--left">
                    <div class="chat-avatar">
                        <img src="/images/robot 1 (1).svg" alt="bot">
                    </div>

                    <div class="chat-message">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur minus nesciunt eos aperiam facere adipisci dicta ea harum perferendis id.
                        </p>
                    </div>
                </div>
                
                <div class="chat chat--right">
                    <div class="chat-avatar">
                        <img src="/images/user.jpg" alt="bot">
                    </div>
    
                    <div class="chat-message">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                
                <div class="chat chat--left">
                    <div class="chat-avatar">
                        <img src="/images/robot 1 (1).svg" alt="bot">
                    </div>

                    <div class="chat-message">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur minus nesciunt eos aperiam facere adipisci dicta ea harum perferendis id.
                        </p>
                    </div>
                </div>
            </section>
            <section class="send-message p-3">
                <ul class="sm-table pt-2 pb-2 m-auto">
                    <li class="sm-option">¿Temperatura alta?</li>
                    <li class="sm-option">¿Dolor de cabeza?</li>
                    <li class="sm-option">¿Sientes debilidad?</li>
                </ul>
            </section>
        </main>
    </div>

<%- include('partials/footer') -%>