/* sección noticias(cards) */

/* .noticia-img {
    margin: auto;
    width: 500px;
} */

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#section-general{
    width: 80%;
    margin: auto;
}

#container {
    width: 100%;

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 400px;
    height: 600PX;
    border-radius: 12.5%;
    overflow: hidden;

    padding: 1rem;
    background-color: #222831;
    
    position: relative;
    z-index: 1;
}
/* .card::before {
    content: "WORLDFISH";
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 10%;
    text-align: center;
    font-size: 2.5rem;
    color: #393E46;
    font-style: italic;
    font-weight: bolder;
} */
.card::after {
    content: "";
    width: 250px;
    height: 250px;

    position: absolute;
    top: -10%;
    right: -30%;
    border-radius: 50%;
    transition: 0.5s ease-in-out;

    background-color: #ffdd05;

    z-index: -1;
}
.card:hover .card-content {
    transform: translateY(0px);
    opacity: 1;
}
.card:hover .img-card {
    transform: translateY(0px);
}
.card:hover::after {
    top: -35%;
    right: 40%;
}

.img-card {
    margin: 35px auto 0px;
    width: 100%;
    object-fit: cover;

    border-radius: 20px;

    transform: translateY(50%);
    transition: 0.5s ease-in-out;

    display: inline-block;
    z-index: 2;
}

.enlace-tarjeta{
    text-decoration: none;
    color: black;
}

.card-content {
    transition: 0.5s ease-in-out;
    transform: translateY(200px);
    opacity: 0;

    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.text-content > p {
    text-align: justify;
}

.text-content,
.color-content {
    margin-top: 0.5rem;
}
.buying-content {
    margin-top: 1rem;
    padding: 1rem;
    color: #222831;
    border-radius: 6.125%;
}